<style>
    #name{
        display: inline-block;
        padding: 20px;
        width: 250px;
    }
    #play{
        display: inline-block;
    }
</style>

<h2>Local Audio Stream</h2>
<ul>
{% for file in data %}
    <li>
        <div id="name"><a href="{{ file.audio_file }}" target="_blank">{{ file.name }}</a></div>
        <div id="play"><audio src="{{ file.audio_file }}" controls="controls">
        Your browser does not support the audio element.
        </audio></div>
    </li>
{% endfor %}
</ul>